<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <script src="./tableSort.js"></script>
    <script src="./updateItem.js"></script>
    <script src="./ajaxRequest.js"></script>
    <title>Inventory</title>
</head>
<body>
    <div id="addItem">
        <label>Item ID
            <input type="text" name="itemId" required/>
        </label>
        <label>Item Name
            <input type="text" name="name" required/>
        </label>
        <label>Unit Measurement
            <input type="text" name="unitMeasurement" required/>
        </label>
        <label>Quantity
            <input type="number" name="quantity" required/>
        </label>
    </div>
    <button type="button" onclick="addItem()">Add Item</button>

    <table class="content-table table-sortable">
        <thead>
            <tr>
                <th onclick="sortColumn('itemId')">Item ID</th>
                <th onclick="sortColumn('name')">Item Name</th>
                <th onclick="sortColumn('unitMeasurement')">Unit</th>
                <th onclick="sortColumn('quantity')">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <%- locals.inventory %>
        </tbody>
    </table>
</body>
</html>