<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>
<body>
    <form action="/addItem" method="POST">
        <label>Item ID
            <input type="text" name="itemId" />
        </label>
        <label>Item Name
            <input type="text" name="itemName" />
        </label>
        <label>Unit Measurement
            <input type="text" name="itemUnit" />
        </label>
        <label>Quantity
            <input type="number" name="itemQuantity" />
        </label>
        <button type="submit">Submit</button>
    </form>

    <table class="content-table">
        <thead>
            <tr> <!--I know why this isn't working; because they're all named "sortType" it's taking the first value, even when I wrap them in their own form-->
                <form action="/sort" method="POST">
                    <th><button type="submit" name="sortType" value="itemId">Item ID</button></th>
                </form>
                <form action="/sort" method="POST">
                    <th><button type="submit" name="sortType" value="name">Item Name</button></th>
                </form>
                <form action="/sort" method="POST">
                    <th><button type="submit" name="sortType" value="unitMeasurement">Unit</button></th>
                </form>
                <form action="/sort" method="POST">
                    <th><button type="submit" name="sortType" value="quantity">Quantity</button></th>
                </form>
            </tr>
        </thead>
        <tbody>
            <%- locals.inventory %>
        </tbody>
    </table>
</body>
</html>